/* GENERAL */
@font-face {
  font-family: Chiaro;
  src: url("./fonts/ChiaroStd-B.otf");
}

@font-face {
  font-family: ReturnOfGanon;
  src:url("./fonts/ReturnofGanon.ttf");
}

body {
  background-image:url("./images/bg.png");
  background-color:black;
  background-repeat:no-repeat;
  background-position-x: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* PENTAGRAM */
section#Pentagram {
  display:flex;
  margin:3rem 0;
  width:100%;
  align-items:center;
  justify-content:center;
  height:120px;
  background-image:url("./images/pentagram.png");
  background-position-y:30%;
}

#clef {
  background-image:url("./images/clef.png");
  width:200px;
  height:100px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 28vw;
  margin-right: -8vw;
}

/* BUTTONS */
#c-pad {
  display:flex;
  flex-direction:row;
  padding-right:2rem;
}

.button {
  width:50px;
  height:50px;
  background-repeat:no-repeat;
  background-size:100% 100%;
  transition: all .07s ease;
}

kbd {
  color:#afc6ff;
  font-family:'ReturnOfGanon', monospace;
}

#c-pad > .button {
  margin:0 0.5rem 0 0.5rem;
}

#up {
  background-image:url("./images/C-Up.png");
}

#right {
  background-image:url("./images/C-Right.png");
}

#down {
  background-image:url("./images/C-Down.png");
}

#left {
  background-image:url("./images/C-Left.png");
}

#a {
  width:60px;
  height:60px;
  background-image:url("./images/Button-A.png");
}

.playing {
  transform: scale(1.4);
  border-width:0;
}

/* TEXT BOX */
section#TextBox {
  background-color:#1d1d1d;
  opacity:0.8;
  width:50vw;
  height:100px;
  border-radius:25px;
  opacity: 0;
  display:flex;
  align-items:center;
  justify-content:center;
}

section#TextBox > p {
  font-family:Chiaro,monospace;
  font-size:1.4rem;
  color:white;
  text-align:center;
  text-shadow: 3px 4px 1px black;
}

.fadeIn {
  -webkit-animation: fadeinout 7s ease-out backwards;
  animation: fadeinout 7s ease-out backwards;
}

@-webkit-keyframes fadeinout {
  10% { opacity: 0.8; }
  90% { opacity: 0.8; }
}

@keyframes fadeinout {
  10% { opacity: 0.8; }
  90% { opacity: 0.8; }
}

/* FOOTER */
footer {
  background-color:#0b162b;
  position:fixed;
  width:100%;
  bottom:0;
  left:0;
  opacity:0.8;

  color:white;
  text-align:center;
  font-family:Chiaro, monospace;
  font-size:1.2rem;
  text-shadow: 3px 4px 1px black;
}

#pixel-heart {
  background-image:url("./images/pixel-heart.png");
  width: 16px;
  height: 16px;
  background-size: cover;
  display: inline-block;
}

footer > p > a {
  color:#f20000;
  text-decoration:none;
}
