/* GENERAL */
@font-face {
  font-family: Chiaro;
  src: url("./fonts/ChiaroStd-B.otf");
}

@font-face {
  font-family: ReturnOfGanon;
  src:url("./fonts/ReturnofGanon.ttf");
}

body {
  background-image:url("./images/bg.png");
  background-color:black;
  background-repeat:no-repeat;
  background-position-x: center;

  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}

/* FOOTER */
footer {
  background-color:#0b162b;
  position:fixed;
  width:100%;
  bottom:0;
  opacity:0.8;

  color:white;
  text-align:center;
  font-family:Chiaro, monospace;
  font-size:1.2rem;
  text-shadow: 3px 4px 1px black;
}

#pixel-heart {
  background-image:url("./images/pixel-heart.png");
  width: 16px;
  height: 16px;
  background-size: cover;
  display: inline-block;
}

footer > p > a {
  color:#f20000;
  text-decoration:none;
}
